@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

header {
    font-family: 'Dela Gothic One', cursive;
    font-weight: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-left: 1rem;
    background-color: #0b7a0b;
    box-shadow: 1px 1px 5px 3px #808080;
    color: #ffffff;
}

header>ul {
    list-style: none;
    display: flex;
    align-items: center;
}

header>ul li {
    margin-right: 10px;
}

header>ul li:hover {
    cursor: pointer;
}

header>ul img {
    height: 2.5rem;
    border-radius: 50%;
}